{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
        
    <div class="bg">
        <p class="txt-tasks">Tasks:</p>
        <ul class="listcontainer">
        
        <form action="{% url 'index' %}" method="post"></form>
        {% for index, task in tasks %}
            <li class="listitem" id="t1">{{ task }}
            <form action="{% url 'remove' forloop.counter0 %}" method="post" class="btncon">
                {% csrf_token %}
            <button class="homebtn" type="submit">
                <img src="{% static '../static/styles/trash5.png' %}" class="trash" width="30">
            </button>
            </form>
        </li>
        {% empty %}
        <li id="empty">No Tasks Yet.</li>
        {% endfor %}
        </ul>
        <a href="{% url 'add' %}" class="addtasks">Add Tasks</a>
    </div>

</body> 
</html>